<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <div class="item">
          <%= image_tag("chem3b.jpg", :alt => "designer portfolio") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You're made.</h1>
              <p class="lead">Put together a portfolio and get matched with people that can and want to make your concepts. If your concept hits its funding goal, it's made and you get cred and cash.</p>
              <a class="btn btn-large btn-primary" href="#">Upload Concepts</a>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("chem2b.jpg", :alt => "artisan bidding") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You can make it.</h1>
              <p class="lead">Find really cool product designs that you can make, based on your selected specialty. If the concept hits its funding goal, you make it and ship it. You get paid, of course.</p>
              <a class="btn btn-large btn-primary" href="#">View Builder's Market</a>
            </div>
          </div>
        </div>

        <div class="item active">
          <%= image_tag("chemb.jpg", :alt => "customer pledging") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Oh, fund times!</h1>
              <p class="lead">Get first dibs. Support cool product concepts by making pledges on them and if the concept hits its funding goal, you get a product from the initial batch.</p>
              <a class="btn btn-large btn-primary" href="#">View Cool Projects</a>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <%= image_tag("designer1.png", :class => "img-circle", :size => "120x120") %>
          <h2>Design</h2>
          <p>Create a beautiful, free and easy-to-use design portfolio. Pick which concepts go to Woofberry Commons to be voted on, made and sold.</p>
          <p><a class="btn" href="#">Upload Concepts »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("artisan1.png", :class => "img-circle", :size => "120x120") %>
          <h2>Make</h2>
          <p>Do you enjoy making stuff? Tinkering with that-thing-that-blew-up? Earn cash by building popular new concepts in Woofberry Commons.</p>
          <p><a class="btn" href="#">View Concepts »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("customer1.png", :class => "img-circle", :size => "120x120") %>
          <h2>Pledge</h2>
          <p>Want some really cool and unique stuff? Vote for your fave concepts and pledge to support their manufacture. You get a piece of the first batch!</p>
          <p><a class="btn" href="#">Get Cool Stuff »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("designer.PNG", :class => "featurette-image pull-right", :size => "575x451") %>
        <h2 class="featurette-heading">Get made. 
        <span class="muted">Take your designs to market and get cred and cash.</span></h2>
        <p class="lead"> Designers upload their designs into a FREE portfolio that they can share with clients or employers. They can then select which concepts go into Woofberry Commons, the marketplace where talented artisans can bid to build their concepts and Woof Fans can vote and pledge funds to support its manufacture. Designers can also browse Woofberry Works to view artisan portfolios and invite specific artisans to bid on their concepts.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("artisan.PNG", :class => "featurette-image pull-left", :size => "575x451") %>
        <h2 class="featurette-heading">If you build it, they will come.
       <span class="muted">Make stuff people are dying to buy.</span></h2>
        <p class="lead">Talented artisans can browse Woofberry Commons for popular concepts (determined by Awesome votes) that they can bid on to build. When the artisan and designer come to an agreement on details such as time and cost, the designer accepts the bid and the project goes up for funding. If the funding goal is hit, the artisan makes and ships the products to customers. Artisans can also showcase completed work by uploading them to Woofberry Works.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("customer.PNG", :class => "featurette-image pull-right", :size => "575x451") %>
        <h2 class="featurette-heading">Buy really cool and unique stuff. <span class="muted">First dibs on the first batch.</span></h2>
        <p class="lead">Woof Fans browse Woofberry Commons and Woofberry Works and place Awesome votes for concepts they like. They can also gain access to really cool one-of-a-kind products in two ways: 1) pledging funds on Commons projects in the funding cycle to support the production, and 2) purchasing or inquiring about the purchase of Works products. </p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./home_files/jquery.js"></script>
    <script src="./home_files/bootstrap-transition.js"></script>
    <script src="./home_files/bootstrap-alert.js"></script>
    <script src="./home_files/bootstrap-modal.js"></script>
    <script src="./home_files/bootstrap-dropdown.js"></script>
    <script src="./home_files/bootstrap-scrollspy.js"></script>
    <script src="./home_files/bootstrap-tab.js"></script>
    <script src="./home_files/bootstrap-tooltip.js"></script>
    <script src="./home_files/bootstrap-popover.js"></script>
    <script src="./home_files/bootstrap-button.js"></script>
    <script src="./home_files/bootstrap-collapse.js"></script>
    <script src="./home_files/bootstrap-carousel.js"></script>
    <script src="./home_files/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="./home_files/holder.js"></script>
  
