<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <div class="item">
          <%= image_tag("chem3b.jpg", :alt => "designer portfolio") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You're made.</h1>
              <p class="lead">Put together a portfolio and get matched with people that can and want to make your concepts. If your concept hits its funding goal, it's made and you get cred and cash.</p>
              <a class="btn btn-large btn-primary" href="#">Upload Concepts</a>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("chem2b.jpg", :alt => "artisan bidding") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You can make it.</h1>
              <p class="lead">Find really cool product designs that you can make, based on your selected specialty. If the concept hits its funding goal, you make it and ship it. You get paid, of course.</p>
              <a class="btn btn-large btn-primary" href="#">View Builder's Market</a>
            </div>
          </div>
        </div>

        <div class="item active">
          <%= image_tag("chemb.jpg", :alt => "customer pledging") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Oh, fund times!</h1>
              <p class="lead">Get first dibs. Support cool product concepts by making pledges on them and if the concept hits its funding goal, you get a product from the initial batch.</p>
              <a class="btn btn-large btn-primary" href="#">View Cool Projects</a>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <%= image_tag("icon1.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Design</h2>
          <p>Create a beautiful, free and easy-to-use design portfolio. Pick which concepts go to Woofberry Commons to be voted on, made and sold.</p>
          <p><a class="btn" href="#">Upload Concepts »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("icon2.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Make</h2>
          <p>Do you enjoy making stuff? Tinkering with that-thing-that-blew-up? Earn cash by building popular new concepts in Woofberry Commons.</p>
          <p><a class="btn" href="#">View Concepts »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("icon3.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Pledge</h2>
          <p>Want some really cool and unique stuff? Vote for your fave concepts and pledge to support their manufacture. You get a piece of the first batch!</p>
          <p><a class="btn" href="#">Get Cool Stuff »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("1.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">Connecting talent and taste. <span class="muted">And viola, everyone is happy!</span></h2>
        <p class="lead">There are many designers out there with groundbreaking designs, but all too often these concepts remain just concepts. We asked ourselves how we could link those concepts to capable people that can make them a reality, and once that is done, how to allow people with exquisite taste access to those unique products.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("2.png", :class => "featurette-image pull-left") %>
        <h2 class="featurette-heading">"But why?", you asked.<span class="muted">And to that we would say to you...</span></h2>
        <p class="lead">...because there are great concept repositories and great artisan marketplaces and great crowdfunding project sites, but not anything that really ties all of those things together, even though there is an incredible amount of synergy between the three. Here we match supply and demand.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("4.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">That's all fine and dandy. <span class="muted">But that is not the only reason, not by far.</span></h2>
        <p class="lead">We are also passionate about helping designers get their designs to market, artisans do work they enjoy, and people get access to really cool things. Alone, the barriers are very high, but working together, we find that one plus one is three.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./home_files/jquery.js"></script>
    <script src="./home_files/bootstrap-transition.js"></script>
    <script src="./home_files/bootstrap-alert.js"></script>
    <script src="./home_files/bootstrap-modal.js"></script>
    <script src="./home_files/bootstrap-dropdown.js"></script>
    <script src="./home_files/bootstrap-scrollspy.js"></script>
    <script src="./home_files/bootstrap-tab.js"></script>
    <script src="./home_files/bootstrap-tooltip.js"></script>
    <script src="./home_files/bootstrap-popover.js"></script>
    <script src="./home_files/bootstrap-button.js"></script>
    <script src="./home_files/bootstrap-collapse.js"></script>
    <script src="./home_files/bootstrap-carousel.js"></script>
    <script src="./home_files/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="./home_files/holder.js"></script>
  
