<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <div class="item">
          <%= image_tag("chem3b.jpg", :alt => "black room") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You're made.</h1>
              <p class="lead">Get matched with people that are capable of making your product concept. If your concept hits its funding goal, it's made and you get cred and cash.</p>
              <a class="btn btn-large btn-success" href="#">View transformations</a>
            </div>
          </div>
        </div>

        <div class="item">
          <%= image_tag("chem2b.jpg", :alt => "biege room") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You can make it.</h1>
              <p class="lead">Find really cool product designs that you can make, based on your selected specialty. If the concept hits its funding goal, you make it and ship it. You get paid, of course.</p>
              <a class="btn btn-large btn-success" href="#">Subscribe</a>
            </div>
          </div>
        </div>

        <div class="item active">
          <%= image_tag("chemb.jpg", :alt => "green room") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Oh, fund times!</h1>
              <p class="lead">Get first dibs. Support cool product concepts by making pledges on them and if the concept hits its funding goal, you get a product from the initial batch.</p>
              <a class="btn btn-large btn-success" href="#">Browse gallery</a>
            </div>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <%= image_tag("icon1.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Design</h2>
          <p>Showcase your concept designs with a free portfolio. Who knows, maybe a highly skilled creator will work with you to get it made and sold.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("icon2.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Make</h2>
          <p>Do you enjoy making things? Tinkering with that-thing-that-blew-up? Find neat designs to make. Oh, you'll get some dough for it too.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("icon3.jpg", :class => "img-circle", :size => "120x120") %>
          <h2>Pledge</h2>
          <p>Want some really cool and unique stuff? Pick and pledge for neat concepts and support their manufacture. You get a piece of the first batch!</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("1.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">Striking art pieces. <span class="muted">It's handpainted with real oil, no prints.</span></h2>
        <p class="lead">All our art pieces are hand-painted in oil on canvas by artists from all over South East Asia. We carefully select every piece of art and have a preference for bright and bold pieces that are sure to brighten and inspire.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("2.png", :class => "featurette-image pull-left") %>
        <h2 class="featurette-heading">We know what we're talking about. <span class="muted">And we can prove it.</span></h2>
        <p class="lead">Our designer team can help you select pieces and advise you where to place them. Don't stress about this, just send us your floor plan, photos of your space, and your taste preferences and <i>viola!</i></p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("4.png", :class => "featurette-image pull-right") %>
        <h2 class="featurette-heading">Rolled, not stretched. <span class="muted">Keeping it affordable for you.</span></h2>
        <p class="lead">We roll up the paintings for shipping. A frame shop or art gallery can stretch them for you at a small cost. This helps keep prices down, but if you want us to mail them stretched, thy wish is our command.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./home_files/jquery.js"></script>
    <script src="./home_files/bootstrap-transition.js"></script>
    <script src="./home_files/bootstrap-alert.js"></script>
    <script src="./home_files/bootstrap-modal.js"></script>
    <script src="./home_files/bootstrap-dropdown.js"></script>
    <script src="./home_files/bootstrap-scrollspy.js"></script>
    <script src="./home_files/bootstrap-tab.js"></script>
    <script src="./home_files/bootstrap-tooltip.js"></script>
    <script src="./home_files/bootstrap-popover.js"></script>
    <script src="./home_files/bootstrap-button.js"></script>
    <script src="./home_files/bootstrap-collapse.js"></script>
    <script src="./home_files/bootstrap-carousel.js"></script>
    <script src="./home_files/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="./home_files/holder.js"></script>
  
