<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Carousel
    ================================================== 
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <div class="item">
          <%= image_tag("chem3b.jpg", :alt => "designer portfolio") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You're made.</h1>
              <p class="lead">Put together a portfolio and get matched with people that can and want to make your concepts. If your concept hits its funding goal, it's made and you get cred and cash.</p>
              <a class="btn btn-large btn-primary" href="#">Upload Concepts</a>
            </div>
          </div>
        </div>
        
        <div class="item">
          <%= image_tag("chem2b.jpg", :alt => "artisan bidding") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>You can make it.</h1>
              <p class="lead">Find really cool product designs that you can make, based on your selected specialty. If the concept hits its funding goal, you make it and ship it. You get paid, of course.</p>
              <a class="btn btn-large btn-primary" href="#">View Builder's Market</a>
            </div>
          </div>
        </div>

        <div class="item active">
          <%= image_tag("chemb.jpg", :alt => "customer pledging") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Oh, fund times!</h1>
              <p class="lead">Get first dibs. Support cool product concepts by making pledges on them and if the concept hits its funding goal, you get a product from the initial batch.</p>
              <a class="btn btn-large btn-primary" href="#">View Cool Projects</a>
            </div>
          </div>
        </div>
        -->
      </div>
      <a class="left carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.io/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing"><br><br><br><br><br><br><br>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <%= image_tag("Pig3.png", :class => "img-circle", :size => "180x180") %>
          <h2>Pig View</h2>
          <p>Want to see some awesome pigs? You've come to the right place. Our gallery is full of pictures of really, really, REALLY spectacular pigs. </p><br>
          <p><a class="btn btn-large btn-success" href="#">Some Pig »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("Pig.png", :class => "img-circle", :size => "180x180") %>
          <h2>Add Pig</h2>
          <p>Have an adorable pig? Upload its picture here. Go ahead, I'm sure it'll pay you generously in snortles and oinks. And bacon. </p><br>
          <p><a class="btn btn-large btn-success" href="#">Terrific »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= image_tag("Pig2.png", :class => "img-circle", :size => "180x180") %>
          <h2>Pig It Up</h2>
          <p>Show your love for your favorite pigs by pigging them up. Go ahead, we've already made a nice little button for you.</p><br>
          <p><a class="btn btn-large btn-success" href="#">Radiant »</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row --><br><br><br>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("bigpig1.png", :class => "featurette-image pull-right", :size => "400x400") %>
        <h2 class="featurette-heading">Bigwig Bigpig 
        <span class="muted">Look at some pigs</span></h2>
        <p class="lead"> Want to see pictures of awesome pigs? You've come to the right place. We welcome all kinds of pigs here, we're an equal opportunity pig gallery. It's been proven by the Fictional Pig College of Social Sciences that looking at pictures of pigs is cathartic. So if you need a pick-me-up at work, look no further.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("bigpig3.png", :class => "featurette-image pull-left", :size => "400x400") %>
        <h2 class="featurette-heading">Share Some Pig.
       <span class="muted">You got a gig.</span></h2>
        <p class="lead">If you have pictures of awesome pigs, put them up. We are the United Nations, or if you are the shopping sort, the Benetton of Pigs. Big, small, pink, brown, or just oinking fantastic, your picture belongs here. And if you're super awesome, piglovers everywhere will vote you up and you'll be SOME PIG!</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <%= image_tag("bigpig2.png", :class => "featurette-image pull-right", :size => "400x400") %>
        <h2 class="featurette-heading">Pigtastic. <span class="muted">Up-pig the best pic.</span></h2>
        <p class="lead">If you like what you see, you need to vote that picture up. We've made it really easy too, by providing you with a neat little SOME PIG button. All you have to do is lick on it and say 'Oink', and your vote will be counted. The piggies with the most votes enjoy all kinds of privileges, such as piggy fame and prominence in the piggy tabloids. </p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./home_files/jquery.js"></script>
    <script src="./home_files/bootstrap-transition.js"></script>
    <script src="./home_files/bootstrap-alert.js"></script>
    <script src="./home_files/bootstrap-modal.js"></script>
    <script src="./home_files/bootstrap-dropdown.js"></script>
    <script src="./home_files/bootstrap-scrollspy.js"></script>
    <script src="./home_files/bootstrap-tab.js"></script>
    <script src="./home_files/bootstrap-tooltip.js"></script>
    <script src="./home_files/bootstrap-popover.js"></script>
    <script src="./home_files/bootstrap-button.js"></script>
    <script src="./home_files/bootstrap-collapse.js"></script>
    <script src="./home_files/bootstrap-carousel.js"></script>
    <script src="./home_files/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="./home_files/holder.js"></script>
  
